.mySlides {
	display: none;
}
.slideshow-container {
  position: relative;
  margin: auto;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/*navigation bar*/
#navigation{
	font-family: "sans-pro", cursive;
	background-color: #2c3e50;
	padding:20px 10px;
	z-index: 100;
	width:100%;
}
.navbar-nav{
	padding:0 10px;
	font-size: 20px;
}
#navigation a{
	color:white;
}
#navigation a:hover{
  background-color: #fff;
  color:black;
}
.navbar-toggler-icon{
	background:url(../img/menu.png);
	background-size: 100%;
}
.sticky{
	position: fixed;
	top:0;
	width: 100%;
}
/* navigation bar*/

.section{
	padding:100px 0 100px 0;
}

#about{
	font-family: "sans-pro",cursive;
}
.skillsSection,
.contactSection{
	font-family: "sans-pro", cursive;
	color: #fff;
	background-color: #2c3e50;
}
.aboutImage{
	max-width: 100%;
}
.social{
	height: 30px;
	margin-top: 30px;
}
.social a{
	color:#fff;
	font-size: 20px;
	margin: 25px;
	transition: all ease 0.3s;
	text-decoration: none;
}
.contactButton{
	color:#fff;
	padding: 15px 20px;
	display: inline-block;
	margin-top: 20px;
	border: 1px solid #fff;
	border-radius: 2px;
}