/*slides*/
.mySlides {
	display: none;
}
.slideshow-container {
  position: relative;
  margin: auto;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}
/*slides*/
/*navigation bar*/
#navigation{
	font-family: "sans-pro";
	background-color: #2c3e50;
	padding:20px 10px;
	z-index: 100;
	width:100%;
}
.navbar-nav{
	padding:0 10px;
	font-size: 20px;
}
#navigation a{
	color:white;
}
#navigation a:hover{
  background-color: #fff;
  color:black;
}
.navbar-toggler-icon{
	background:url(../img/menu.png);
	background-size: 100%;
}
.sticky{
	position: fixed;
	top:0;
	width: 100%;
}
/* navigation bar*/
/*section*/
.section{
	padding:100px 0 100px 0;
}
#about{
	font-family: "sans-pro";
}
#contact{
	font-family: "sans-pro";
}
#portfolio{
	font-family: "sans-pro";
}
#footer{
	font-family: "sans-pro";
}
.skillsSection,
.contactSection{
	font-family: "sans-pro";
	color: #fff;
	background-color: #2c3e50;
}
/*section*/
/*about*/
.aboutImage{
	max-width: 100%;
}
/*about*/
/*portfolio*/
.itemContainer{
	width: 100%;
}
.items{
	padding: 0px;
}
.items a {
	width: 40px;
    height: 40px;
    background-color: #2c3e50;
    position: relative;
    display: inline-block;

    -webkit-transition: all 0.2s linear, 0.3s;
    -moz-transition: all 0.2s linear, 0.3s;
    -o-transition: all 0.2s linear, 0.3s;
    -ms-transition: all 0.2s linear, 0.3s;
    -transition: all 0.2s linear, 0.3s;
}
.items li{
	display:inline-block;
	padding: 5px;
}
.items li img {
  width: 100%;
  -webkit-transition: all 0.2s linear, 1s;
  -moz-transition: all 0.2s linear, 1s;
  -o-transition: all 0.2s linear, 1s;
  -ms-transition: all 0.2s linear, 1s;
  -transition: all 0.2s linear, 1s;
}
.items .icons {
	position: absolute;
    width: 90px;
    height: 40px;
    left: 50%;
    top: 50%;
    margin: -20px auto 0 -47px;
    text-align: center;
    z-index: 3;
}
.items .icons i {
	color: #fff;
    font-size: 20px;
    margin-top: 9px;
}
.items .item{
	position:relative;
	display:block;
	overflow: hidden;
}
.items .imageOverlay {
	width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    left: 0px;
    top: 0px;
    opacity: 0;

    -webkit-transition: all 0.2s linear, 1s;
    -moz-transition: all 0.2s linear, 1s;
    -o-transition: all 0.2s linear, 1s;
    -ms-transition: all 0.2s linear, 1s;
    -transition: all 0.2s linear, 1s;
}
.items .item:hover .imageOverlay {
	opacity: 1;
}
.items .openButton {
  float: left;
  left: -300px;
}
.items .item:hover .openButton{
  left: 0px;
}
.items .project-link {
  float: right;
  right: -300px;
}
.items .item:hover .project-link{
  right: 0px;
}

.items .item:hover img {
  -webkit-transform: scale(1.05, 1.05);
  -moz-transform: scale(1.05, 1.05);
  -o-transform: scale(1.05, 1.05);
  -ms-transform: scale(1.05, 1.05);
  -transform: scale(1.05, 1.05);
}
/*portfolio*/
/*contact*/
.social{
	height: 30px;
	margin-top: 30px;
}
.social a{
	color:#fff;
	font-size: 20px;
	margin: 25px;
	transition: all ease 0.3s;
	text-decoration: none;
}
.contactButton{
	color:#fff;
	padding: 15px 20px;
	display: inline-block;
	margin-top: 20px;
	border: 1px solid #fff;
	border-radius: 2px;
}
/*contact*/
/*footer*/
.copyrightSection {
  background-color: #fff;
  color: black;
  padding: 30px 5px;
}

.copyrightSection p {
  margin: 0;
}
/*footer*/